<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.drunkenhamster.facerecognitionfps"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:theme="@android:style/Theme.NoTitleBar" android:icon="@drawable/icon">
        <activity android:label="@string/app_name" android:name="StartScreen" android:debuggable="true">
		    <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>	     
		</activity>
        <activity 
        	android:name="Main">
		</activity>
		<activity 
			android:name="Achievements">
		</activity>
		<activity 
			android:name="SnapFaceActivity" 
			android:screenOrientation="landscape">
			<!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
			<intent-filter>
				<action android:name="android.intent.action.GET_CONTENT" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="image/*" />
             </intent-filter>
		</activity>
		<activity
			android:name=".ImageViewActivity"
			android:label="@string/imgview">
		</activity>
		<activity android:name=".OAuth"
                  android:label="@string/app_name"
                  android:launchMode="singleTask"
                  >
            <intent-filter>
            	<action android:name="android.intent.action.VIEW" />
            	<category android:name="android.intent.category.DEFAULT" />
            	<category android:name="android.intent.category.BROWSABLE" />
            	<data android:scheme="twitt" android:host="twitterscreen" />
            </intent-filter>
        </activity>
		
		<!--<activity android:name=".Twitter"
		          android:label="@string/app_name">
		    <intent-filter>
	        	<action android:name="android.intent.action.VIEW"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
				<category android:name="android.intent.category.BROWSABLE"></category>
				<data android:host="main" android:scheme="twitt"></data>
			</intent-filter>      
		</activity>-->
    </application>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest> 